# Ignore everything by default, including nested files.
**

# Allow only necessary files for this package.
!syntaxes/
!syntaxes/*.json
!language-configuration.json
!index.js

# Also allow core metadata files required for packaging.
!package.json
!README.md
!LICENSE
!logo.png
