# Ignore everything by default.
*

# Allow only necessary files for this package.
!syntaxes/*.json
!language-configuration.json
!parsers/**
!queries/**
!out/**

# Also allow core metadata files required for packaging.
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!logo.png

# Exclude common unwanted directories and files.
.vscode/
.github/
src/
*.ts
tsconfig.json
.eslintrc.json
**/*.map
